<%- include('layout') %>

<h2>Check what you need to pay!</h2>
<h2>
  <% if (loggedInUserBalance >= 0) { %>
    <span  style="color: black;">You owe Rs.</span>  <span style="color: green"><%= loggedInUserBalance %></span>
  <% } else { %>
    <span  style="color: black">You have to pay Rs.</span> <span style="color: red"><%= Math.abs(loggedInUserBalance) %></span>
  <% } %>
</h2>

<div class="table-container">
  <% if (transactions.length > 0) { %>
    <table class="balance-table">
      <tr>
        <th>Payer</th>
        <th>Receiver</th>
        <th>Amount (in Rupees)</th>
      </tr>
      <% transactions.forEach(t => { %>
        <tr>
          <td><%= users.find((user) => user.email === t.from).name %></td>
          <td><%= users.find((user) => user.email === t.to).name %></td>
          <td><%= t.amount %></td>
        </tr>
      <% }) %>
    </table>
  <% } else { %>
    <p>All balances are settled.</p>
  <% } %>
</div>
